* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    #bg {
        background: url("https://i.pinimg.com/originals/fb/da/de/fbdade9ec01d27849b660137c9133c1c.png");
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 71%);
    }
}
 
/* Structure */

.container {
    width: 728px;
    height: 726px; 
    border: 1px solid black;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;

}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid black
}

.players {
    display: flex;
    margin: 50px 0 0 50px;
}

.player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.player + .player {
    margin-left: 2rem;
}

#playBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem
}

/* Pictures */

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.playerSize {
    width: 300px;
    height: 300px;
}

.char-space {
    height: 350px;
    width: 350px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

.player h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.75em;
}

/* Miscellaneous */

.playButton {
    padding: 1em;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    background-color: cyan;
    margin-top: 1.5em;
    color: salmon;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    font-size: larger;
}

#timerSpan {
    padding: 30px;
    background-color: rgba(15, 20, 200, 0.1);
    visibility: hidden;
}

@media(max-width: 1300px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .players {
        margin: 3em 0;
    }

    .timer {
        margin-left: 0;
    }
}